body {max-width: 1600px; margin: 0 auto; background-color: grey;}
main img {width: 100%;}
footer {background-color: grey; padding: 40px; text-align: center; padding: 25px;}
footer a img {border-radius: 50%; width: 200px; border: 7.5px solid black;}
footer a {padding: 30px;}
